@model SIPA.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Autoservicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Autoservicio.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetodoPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetodoPago.NumeroReferencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Domicilio.DomicilioID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PedidoID" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-danger">Volver</a>
</div>
