@model IEnumerable<SIPA.Models.Articulo>
@{
    ViewData["Title"] = "IndexCli";
}


@foreach (var item in Model)
{
    <div class="overflow-y-auto overflow-x-hidden exito-categroy-menu-179">          
                <h1>@Html.DisplayFor(modelItem => item.TipoProducto)</h1>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Imagen)" width="300" height="200" alt=""></a>
                        <div class="card-body">

                            <h4 class="card-title">

                                @Html.DisplayFor(modelItem => item.Nombre)

                            </h4>
                            <h5>@Html.DisplayFor(modelItem => item.PrecioVenta)</h5>
                            <p class="card-text">Frijol enlatado listo para consumir</p>
                            <div class="input-group mb-3 ">

                                <button class="btn btn-outline-warning" type="button" id="button-addon2"><i class="far fa-plus-square"></i></button>
                                <input type="text" id="txtCantidad" class="cantidad form-control" placeholder="Cantidad" aria-label="cantidad">
                                <button class="btn btn-outline-warning" type="button" id="button-addon2"><i class="far fa-minus-square"></i></button>
                            </div>
                            <div class="input-group mb-3 ">
                                    <input class="form-control" type="text" placeholder="" readonly>                                }
                                <div class="input-group-append">
                                    <button class="btn btn-outline-warning btn-block" type="button" id="button-addon2" onclick="fnAgregrar('@Html.DisplayFor(modelItem => item.ArticuloID)','@Html.DisplayFor(modelItem => item.Nombre)','@Html.DisplayFor(modelItem => item.PrecioVenta)','@Html.DisplayFor(modelItem => item.Imagen)');"><i class="fas fa-cart-arrow-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    
}
<script>

    function fnAgregrar(ArticuloID, Nombre, Precio, Imagen) {
        var cantidad = document.getElementById("txtCantidad").value;
        if (cantidad == null || cantidad == "") {

            alert("Ingrese cantidad" + cantidad);
            return;
        }
        var odata = {
            "Articulo": {
                "ArticuloID": ArticuloID,
                "Nombre": Nombre,
                "Precio": Precio,
                "Imagen": Imagen
            },
            "Cantidad": cantidad
        };
        console.log(odata);

        $.ajax({
            type: "POST",
            url: "DetallePedidos/Agregar",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(odata),
            success: function (d) {
                if (d != null || d != "") {
                    $("#lblItemCarro").text("(" + d.length + ") Items agregados al carrito");

                }
            },
            error: function () {

            }
        });
    }
</script>