@model IEnumerable<SIPA.Models.Transporte>

@{
    ViewData["Title"] = "Index";
}

<h2>Transporte</h2>

<p>
    <a asp-action="Create"><button class="btn btn-warning">Nuevo</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoVehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransporteID" class="btn btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TransporteID" class="btn btn-primary">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.TransporteID" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
