@model SIPA.Models.Domicilio

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Domicilio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Transporte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transporte.TransporteID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraFecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DomicilioID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
