@model IEnumerable<SIPA.Models.Domicilio>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Transporte.TipoVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DomicilioID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DomicilioID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DomicilioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
