@model SIPA.Models.MetodoPago

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar @Html.DisplayFor(model => model.Nombre)?</h3>
<div>
    <h4>Metodo de Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroReferencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroReferencia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MetodoPagoID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-danger" >Volver</a>
    </form>
</div>
