@model SIPA.Models.MetodoPago

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Metodo de Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroReferencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroReferencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MetodoPagoID" class="btn btn-success" >Editar</a> |
    <a asp-action="Index" class="btn btn-danger" >Volver</a>
</div>
