@model IEnumerable<SIPA.Models.MetodoPago>

@{
    ViewData["Title"] = "Index";
}

<h2>Metodo de pago</h2>

<p>
    <a asp-action="Create"><button class="btn btn-warning">Nuevo</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroReferencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroReferencia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MetodoPagoID" class="btn btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MetodoPagoID" class="btn btn-primary">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.MetodoPagoID" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
